<template>
  <div class="home">
    <div class="row">
   
      <div class="col"> <img alt="Vue logo" src="../assets/logo.png">
      </div>
      <div class="col">
        <div class="tracks">
      <Track @playSong="playSong" :getsong="fun" :selectedtrack="track" ></Track>
    </div>
      </div>
      </div> 
    <div class="player">
        <player :tracks="track" @nextSong="nxtSong" @prevSong="prevSong" @shufflesongs="shufflesongs" ></player>
    </div>
  </div>
</template>

<script>
import Player from '../components/Player.vue'
import Track from '../components/Tracks.vue'
export default {
  name: 'Home',
  components: {
    Player,
    Track
  },
  data(){
    return {
      track:{
        name:"hello"
      }, 
      tracks:[
              {
                  name:"abc1.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc2.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc3.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc4.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc5.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc6.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc7.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc8.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc9.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc10.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc11.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc12.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc13.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc14.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc15.mp3",
                  authorname:"ram",
                  time:"7:29"
              }
          ],
      fun:null
    }
  },
  methods:{
    playSong(track){
    this.track=track
    this.fun=null
    },
    prevSong(){
      this.fun="prev"
    },
    nxtSong(){
  this.fun="next"
    },
    shufflesongs(){
   this.fun="shuffle"
    }

  }
}
</script>
<style scoped>
.player{
  z-index:1;
   overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.tracks{
 position: relative;
 right:10px;
}
img{
  top:40%;
  width: max-content;
  position: sticky;
  left:18%
}
</style>
