<template>
  <div id="app">
    <nav class="navbar nav-bar navbar-expand-lg navbar-dark bg-dark" >
            <a class="navbar-brand" href="#"> <router-link to="/"><img src="@/assets/logo.png" width="60px" height="50px" alt="IMDB"></router-link> </a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse center collapse" id="collapseNavbar"> 
            <router-link to="/" class="nav-link text-white" >Home</router-link>
            <router-link to="/Library" class="nav-link text-white">Library</router-link>
            <router-link to="/HotList" class="nav-link text-white" >HotList</router-link>
            <router-link to="/Search" class="nav-link text-white" >Search</router-link>
        </div>
    </nav>
    <router-view/>
    
  </div>
</template>

<style>

.nav-bar{
  position: sticky;
  z-index:1;
  top: 0;
}
.center{
  text-align: center;
}
</style>
