<template>
<section class="card bg-dark">
    <img  class="img" src="../assets/logo.png">
    <div class="title"> {{tracks.name}}  {{status}}</div>

   <div class="buttons">
   <button class="btn btn-primary" @click="prevSong"> <ion-icon name="play-back-sharp"></ion-icon> </button>
    <button class="btn btn-primary" ><ion-icon name="play-sharp"></ion-icon></button>
    <button class="btn btn-primary" @click="nextSong"> <ion-icon name="play-forward-sharp"></ion-icon></button>
    <button class="btn btn-primary " @click="shuffleSongs"><ion-icon name="shuffle-sharp"></ion-icon> </button>
   </div>
</section>
</template>
<script>
export default{
props:["tracks"],
data(){
    return{
        track:{
            name:"hello"
        },
        status : "playing"
    }
   },
   methods:{
       prevSong(){
        this.$emit("prevSong")
       },
       nextSong(){
        this.$emit("nextSong")
       },
       shuffleSongs(){
           this.$emit("shufflesongs")
       },
       play(){
           this.status="playing"
       },
       pause(){
           this.status="Pause"
       }

   }
}

</script>

<style scoped>
.card{
    position: relative;
    height:60px; 
    color: red;
}
.img{
 height:20px; 
 left:3%;
 top: 30%;
 width: 30px;
 position: relative;
}
.buttons{
    left:85%;
    top:0%;
    position: relative;
}
.btn{
    margin-right:10px;
    margin-top: 0%;
}
.title{
    left: 7%;
    position: relative;
}

</style>