<template>
    <section class="card bg-black" >
        <button class="btn btn-dark" @click="play(track)">
         <div class="row">
             <div class="col">
        <img src="../assets/logo.png">
         </div>
            <div class="col">
                song name :
                {{track.name}}
             <br>
            author name :
            {{track.authorname}}
        </div>
           <div class="col">
        <div class="len">
            {{track.time}}
        </div>
           </div>
           </div>
        </button> 
    </section>
</template>
<script>
export default{
props: ["track"],
methods:{
    play(track){
        this.$emit("playSong",track)
    }
  
}


}
</script>
<style scoped>
.card{
    position: relative;
    height:max-content;
    color: white;
    background-color: black;   
}
img{
 height:max-content; 
 width: 30px;
 left:10%;
 top:20%;
 position: relative;
}
.len{
    right: 2%;
    position: absolute;
}

</style>