<template>
    <section>
        <div class="head text-white">queue: <input type="text" class="form-control" v-model="trackname"   placeholder="Search song"> </div>
        <div  v-for="track in filtersongs" :key="track.name">
         <Trackcard :track="track" class="track" @playSong="playSong"></Trackcard>
        </div>
    </section>
</template>
<script>
import Trackcard from './Trackscard.vue'
export default {
    props:["selectedtrack","getsong"],
  name: 'Home',
  components: {
    Trackcard,
  },
   data(){
      return {
         trackname:''
          ,tracks:[
              {
                  name:"abc1.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc2.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc3.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc4.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc5.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc6.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc7.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc8.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc9.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc10.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc11.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc12.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc13.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc14.mp3",
                  authorname:"ram",
                  time:"7:28"
              },
              {
                  name:"abc15.mp3",
                  authorname:"ram",
                  time:"7:29"
              }
          ]
      }
  },
  created(){
      this.checktrack()
  },
  watch:{
       getsong : function(){
           this.checktrack()
       },
       tracks:function(){
           this.filtersongs;
       }
  },
  methods:{
      checktrack(){
          var id =this.tracks.findIndex(s=>s==this.selectedtrack);
         
          if(this.getsong=="next"){
              this.playSong(this.tracks[id+1])
          }
          else if(this.getsong=="prev"){
              this.playSong(this.tracks[id-1])
          }
          else if(this.getsong=="shuffle"){
            for (let i = this.tracks.length - 1; i > 0; i--) {
        let randomIndex = Math.floor(Math.random() * i)
        let temp = this.tracks[i]
        this.$set(this.tracks, i, this.tracks[randomIndex])
        this.$set(this.tracks, randomIndex, temp)
        }
        this.$emit("playSong",this.selectedtrack)
        } 
      },
      
      playSong(track){
          this.$emit("playSong",track)
          console.log(track)
      },    
},
computed:{
    filtersongs(){
        return this.tracks.filter((track)=>{
            return track.name.match(this.trackname)
        })
    }

}

  
      
  
}

</script>

<style scoped>
.head{
    width: 100%;
}
input{
    width: 60%;
}
</style>